/* Forked from Normalize.css, licensed MIT (https://github.com/necolas/normalize.css/blob/master/LICENSE.md) */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
  display: block;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fff;
}

[tabindex="-1"]:focus:not(:focus-visible) {
  outline: 0 !important;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

abbr[title],
abbr[data-original-title] {
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
  cursor: help;
  border-bottom: 0;
  -webkit-text-decoration-skip-ink: none;
  text-decoration-skip-ink: none;
}

address {
  margin-bottom: 1rem;
  font-style: normal;
  line-height: inherit;
}

ol,
ul,
dl {
  margin-top: 0;
  margin-bottom: 1rem;
}

ol ol,
ul ul,
ol ul,
ul ol {
  margin-bottom: 0;
}

dt {
  font-weight: 700;
}

dd {
  margin-bottom: .5rem;
  margin-left: 0;
}

blockquote {
  margin: 0 0 1rem;
}

b,
strong {
  font-weight: bolder;
}

small {
  font-size: 80%;
}

sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

a {
  color: #007bff;
  text-decoration: none;
  background-color: transparent;
}

a:hover {
  color: #0056b3;
  text-decoration: underline;
}

a:not([href]):not([class]) {
  color: inherit;
  text-decoration: none;
}

a:not([href]):not([class]):hover {
  color: inherit;
  text-decoration: none;
}

pre,
code,
kbd,
samp {
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  font-size: 1em;
}

pre {
  margin-top: 0;
  margin-bottom: 1rem;
  overflow: auto;
  -ms-overflow-style: scrollbar;
}

figure {
  margin: 0 0 1rem;
}

img {
  vertical-align: middle;
  border-style: none;
}

svg {
  overflow: hidden;
  vertical-align: middle;
}

table {
  border-collapse: collapse;
}

caption {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  color: #6c757d;
  text-align: left;
  caption-side: bottom;
}

th {
  text-align: inherit;
}

label {
  display: inline-block;
  margin-bottom: 0.5rem;
}

button {
  border-radius: 0;
}

button:focus {
  outline: 1px dotted;
  outline: 5px auto -webkit-focus-ring-color;
}

input,
button,
select,
optgroup,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

[role="button"] {
  cursor: pointer;
}

select {
  word-wrap: normal;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button:not(:disabled),
[type="button"]:not(:disabled),
[type="reset"]:not(:disabled),
[type="submit"]:not(:disabled) {
  cursor: pointer;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  padding: 0;
  border-style: none;
}

input[type="radio"],
input[type="checkbox"] {
  box-sizing: border-box;
  padding: 0;
}

textarea {
  overflow: auto;
  resize: vertical;
}

fieldset {
  min-width: 0;
  padding: 0;
  margin: 0;
  border: 0;
}

legend {
  display: block;
  width: 100%;
  max-width: 100%;
  padding: 0;
  margin-bottom: .5rem;
  font-size: 1.5rem;
  line-height: inherit;
  color: inherit;
  white-space: normal;
}

progress {
  vertical-align: baseline;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  outline-offset: -2px;
  -webkit-appearance: none;
}

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  font: inherit;
  -webkit-appearance: button;
}

output {
  display: inline-block;
}

summary {
  display: list-item;
  cursor: pointer;
}

template {
  display: none;
}

[hidden] {
  display: none !important;
}

/*------------------------------------------------------------------------------
    General rules
------------------------------------------------------------------------------*/

::selection {
    background: #e37682;
    color: #fff;
}

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    font-size: 100%;
    /* font-size: 16px; */
}

body {
    position: relative;
    color: rgba(0, 0, 0, 0.65);
    font-size: 1.125em;
    /* font-size: 18px; */
    font-family: 'Source Sans Pro', sans-serif;
    line-height: 1.8;
    background-color: #fff;
}

h1, h2, h3, h4, h5, h6 {
    color: #222;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 500;
    line-height: 1.5;
    margin: 0 0 0.7rem 0;
    text-rendering: auto; /* Android browser */
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    color: inherit;
    text-decoration: none;
}

h1 {
    font-size: 2.5em;
    line-height: 1.2;
}

h2 {
    font-size: 1.5em;
}

h3 {
    font-size: 1.25em;
}

h4 {
    font-size: 1.1em;
}

h5 {
    font-size: 0.9em;
}

h6 {
    font-size: 0.7em;
}

p {
    margin: 0 0 1rem 0;
}

hr {
    border: 0;
    border-bottom: solid 1px;
    margin: 1rem 0;
}

a {
    border-bottom: dotted 1px;
    color: #222;
    text-decoration: none;
    -webkit-transition: color 0.2s ease-in-out, border-bottom 0.2s ease-in-out;
    transition: color 0.2s ease-in-out, border-bottom 0.2s ease-in-out;
}

a:hover, a:focus {
    color: #935d8c;
    border-bottom-color: #935d8c;
}

strong, b {
    font-weight: bold;
}

em, i {
    font-style: italic;
}

small {
    font-size: .9em;
}

/* Form */

form {
    margin: 0 0 2rem;
    width: 100%;
}

form > :last-child {
    margin-bottom: 0;
}

form > .fields {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 100%;
    margin: -1.5rem 0 2rem 0;
}

form > .fields > .field {
    -webkit-box-flex: 0;
    -ms-flex-positive: 0;
    flex-grow: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    padding: 1.5rem 0 0;
    width: 100%;
}

label {
    color: #000;
    display: block;
    font-size: 0.8rem;
    font-weight: 600;
    letter-spacing: 0.25rem;
    margin: 0 0 1rem 0;
    text-transform: uppercase;
}

input[type="text"], textarea {
    -moz-appearance: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    appearance: none;
    background: rgba(255, 255, 255, 0.235);
    border: 1px solid #000;
    border-radius: 2px;
    color: inherit;
    display: block;
    outline: 0;
    padding: 0 1em;
    text-decoration: none;
    font-size: .9em;
    width: 100%;
}

input[type="text"]:focus, textarea:focus {
    border-color: #9bf1ff;
    color: rgba(255, 255, 255, 1);
    -webkit-box-shadow: 0 0 0 2px #fff;
    box-shadow: 0 0 0 2px #fff;
    transition: box-shadow 0.2s ease-in-out, color 0.2s ease-in-out, -webkit-box-shadow 0.2s ease-in-out;
}

input[type="text"] {
    height: 2.75rem;
}

textarea {
    color: rgba(255, 255, 255, 0.4);
    padding: 0.75rem 1rem;
}

::-webkit-input-placeholder {
    font-size: .9em;
    color: rgba(255, 255, 255, 0.4);
    opacity: 1.0;
}

:-moz-placeholder {
    font-size: .9em;
    color: rgba(255, 255, 255, 0.4);
    opacity: 1.0;
}

::-moz-placeholder {
    font-size: .9em;
    color: rgba(255, 255, 255, 0.4);
    opacity: 1.0;
}

:-ms-input-placeholder {
    font-size: .9em;
    color: rgba(255, 255, 255, 0.4);
    opacity: 1.0;
}

.actions li {
    display: inline-block;
    margin-right: .8rem;
}

.actions li:last-child {
    margin-right: 0;
}

/* Buttons */

/* Global buttons */

input[type="submit"],
input[type="reset"],
input[type="button"],
button,
.btn {
    -moz-appearance: none;
    -webkit-appearance: none;
    -ms-appearance: none;
        appearance: none;
    background-color: transparent;
    border: 0;
    border-radius: 0;
    color: #99287a;
    cursor: pointer;
    display: inline-block;
    font-size: 0.8em;
    font-weight: 600;
    height: 3.5em;
    letter-spacing: 0.25em;
    line-height: 3.5em;
    padding: 0 1.75em;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    white-space: nowrap;
    -webkit-box-shadow: inset 0 0 0 2px #99287a;
            box-shadow: inset 0 0 0 2px #99287a;
    -webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, -webkit-box-shadow 0.2s ease-in-out;
            transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, -webkit-box-shadow 0.2s ease-in-out;
            transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out, color 0.2s ease-in-out;
            transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out, color 0.2s ease-in-out, -webkit-box-shadow 0.2s ease-in-out;
}

input[type="submit"]:hover,
input[type="submit"]:focus,
input[type="reset"]:hover,
input[type="reset"]:focus,
input[type="button"]:hover,
input[type="button"]:focus,
button:hover,
button:focus,
.btn:hover,
.btn:focus {
    color: #fff;
    background-color: #880464;
    -webkit-box-shadow: inset 0 0 0 2px #880464;
            box-shadow: inset 0 0 0 2px #880464;
}

input[type="submit"]:active,
input[type="reset"]:active,
input[type="button"]:active,
button:active,
.btn:active {
    color: #fff;
    background-color: #681050;
    -webkit-box-shadow: inset 0 0 0 2px #681050;
            box-shadow: inset 0 0 0 2px #681050;
}

a.btn {
    font-size: .9em;
}

/* White buttons */

input[type="submit"].btn-white,
input[type="reset"].btn-white,
input[type="button"].btn-white,
button.btn-white,
.btn-white {
    color: #fff;
    -webkit-box-shadow: inset 0 0 0 2px #fff;
            box-shadow: inset 0 0 0 2px #fff;
}

input[type="submit"].btn-white:hover,
input[type="submit"].btn-white:focus,
input[type="reset"].btn-white:hover,
input[type="reset"].btn-white:focus,
input[type="button"].btn-white:hover,
input[type="button"].btn-white:focus,
button.btn-white:hover,
button.btn-white:focus,
.btn-white:hover,
.btn-white:focus {
    color: #fff;
    background-color: #2e2e2e;
    -webkit-box-shadow: inset 0 0 0 2px #2e2e2e;
            box-shadow: inset 0 0 0 2px #2e2e2e;
}

input[type="submit"].btn-white:active,
input[type="reset"].btn-white:active,
input[type="button"].btn-white:active,
button.btn-white:active,
.btn-white:active {
    color: #fff;
    background-color: #000;
    -webkit-box-shadow: inset 0 0 0 2px #000;
            box-shadow: inset 0 0 0 2px #000;
}

/*------------------------------------------------------------------------------
    Utilities
------------------------------------------------------------------------------*/

.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.rounded {
    border-radius: 5px;
}

.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.half, .third, .quarter, .fifth {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row nowrap;
        flex-flow: row nowrap;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
        flex: 0 0 auto;
    width: 100%;
}

.flex-column {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

/* Top margin */

.mt-0 {
    margin-top: 0;
}

.mt-1 {
    margin-top: 1rem;
}

.mt-2 {
    margin-top: 2rem;
}

.mt-3 {
    margin-top: 3rem;
}

.mt-4 {
    margin-top: 4rem;
}

.mt-5 {
    margin-top: 5rem;
}

/* Right margin */

.mr-0 {
    margin-right: 0;
}

.mr-1 {
    margin-right: 1rem;
}

.mr-2 {
    margin-right: 2rem;
}

.mr-3 {
    margin-right: 3rem;
}

.mr-4 {
    margin-right: 4rem;
}

.mr-5 {
    margin-right: 5rem;
}

/* Bottom margin */

.mb-0 {
    margin-bottom: 0;
}

.mb-1 {
    margin-bottom: 1rem;
}

.mb-2 {
    margin-bottom: 2rem;
}

.mb-3 {
    margin-bottom: 3rem;
}

.mb-4 {
    margin-bottom: 4rem;
}

.mb-5 {
    margin-bottom: 5rem;
}

/* Left margin */

.ml-0 {
    margin-left: 0;
}

.ml-1 {
    margin-left: 1rem;
}

.ml-2 {
    margin-left: 2rem;
}

.ml-3 {
    margin-left: 3rem;
}

.ml-4 {
    margin-left: 4rem;
}

.ml-5 {
    margin-left: 5rem;
}

/*------------------------------------------------------------------------------
    Particles background
------------------------------------------------------------------------------*/

.particles-bg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    display: block;
}

/*------------------------------------------------------------------------------
    Layout
------------------------------------------------------------------------------*/

#wrapper {
    width: 100%;
    max-width: calc(100% - 2rem);
    margin: 0 auto;
}

/*------------------------------------------------------------------------------
    Header
------------------------------------------------------------------------------*/

header {
    position: relative;
    margin: 1rem 5rem 0rem 0rem;
    text-align: center;
}

/*------------------------------------------------------------------------------
    Hero
------------------------------------------------------------------------------*/

.hero h1 {

}

/*------------------------------------------------------------------------------
    Logo
------------------------------------------------------------------------------*/

#logo > h1 {
    background: url("https://i.imgur.com/2WJP5Hc.png") no-repeat left top;
    background-size: contain;
    width: 9rem;
    height: 11rem;
    text-indent: -9999px;
    margin: 0 auto 3rem;
}

#logo a {
    display: block;
    width: 9rem;
    height: 11rem;
    margin-top: 10px;
    overflow: hidden;
    color: #fff;
    border-bottom: none;
    text-decoration: none;
}

#logo + p {
    font-size: 1.4em;
    line-height: 1.4;
}

/*------------------------------------------------------------------------------
    Main navigation
------------------------------------------------------------------------------*/

#nav {
    -webkit-transition: background-color 0.5s ease, border-top-left-radius 0.5s ease, border-top-right-radius 0.5s ease, padding 0.5s ease;
    transition: background-color 0.5s ease, border-top-left-radius 0.5s ease, border-top-right-radius 0.5s ease, padding 0.5s ease;
    background-color: transparent;
    color: #636363;
    width: 75rem;
    max-width: 100%;
    padding: 1rem;
    cursor: default;
    text-align: left;
}

#nav ul {
    margin: 0 -2.6rem;
    padding: 0;
    list-style: none;
}

#nav ul li {
    display: inline-block;
    margin: 0 0.35rem;
    padding: 0;
    vertical-align: middle;
}

#nav ul li a {
    font-size: 1em;
    background-color: transparent;
    color: #000;
    display: inline-block;
    height: 2.5rem;
    line-height: 2.25rem;
    padding: 0 1.25rem;
    border: 0;
    border-radius: 4px;
    transition: box-shadow 0.2s ease-in-out, background-color 0.2s ease-in-out, color 0.2s ease-in-out, font-size 0.2s ease-in-out, -webkit-box-shadow 0.2s ease-in-out;
}

#nav ul li a:hover,
#nav ul li a:focus,
#nav ul li a:active {
    background-color: rgba(255, 255, 255, 0.2);
    color: #fff;
    -webkit-box-shadow: 0 3px 20px rgba(45, 5, 72, 0.05);
            box-shadow: 0 3px 20px rgba(45, 5, 72, 0.05);
}

/*------------------------------------------------------------------------------
    Main content
------------------------------------------------------------------------------*/

#main {
    background-color: #ffffff;
    color: #636363;
    margin-left: 3rem;
    margin-right: 3rem;
}

#header + #main {
    padding-top: 4.25rem;
    padding-bottom: 4.25rem;
    -webkit-box-shadow: 0 3px 20px rgba(45, 5, 72, 0.1);
            box-shadow: 0 3px 20px rgba(45, 5, 72, 0.1);
}

#main > section:first-child {
    margin-top: 0;
}

#main > section:last-child {
    margin-top: 0;
}

#main > section > header {
    margin-bottom: 4rem;
}

#main > section + hr {
    width: 10rem;
    height: 1px;
    border: none;
    background-color: #e6e6e6;
    margin-left: auto;
    margin-right: auto;
}

/*------------------------------------------------------------------------------
    Sections
------------------------------------------------------------------------------*/

section {
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    padding: 2rem;
}

section > header > h2 {
    font-family: 'Amatic SC', cursive;
    font-size: 2.8em;
    text-align: center;
}

section > .intro {
    margin-bottom: 4rem;
}

/*------------------------------------------------------------------------------
    Footer
------------------------------------------------------------------------------*/

footer {
    font-size: .9em;
    line-height: 1.5;
    text-align: center;
}

/*------------------------------------------------------------------------------
    Page styles part
------------------------------------------------------------------------------*/

.multi-column-3 {
    column-count: 3;
    column-gap: 20px;
    text-align: justify;
}

/*------------------------------------------------------------------------------
    ASCII Visual
------------------------------------------------------------------------------*/

.ascii-visual {
    display: flex;
    justify-content: center;
    width: 100%;
}

/*------------------------------------------------------------------------------
    Responsive part
------------------------------------------------------------------------------*/

.img-responsive {
    max-width: 100%;
    height: auto;
}

.table-responsive {
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
}

@media screen and (min-width: 1200px) {

    .container {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
        width: 100%;
        width: 75rem;
        max-width: calc(100% - 4rem);
        margin-left: 5rem;
        margin-right: 5rem;
    }

    .half {
        width: calc(100%/2);
    }

    .third {
        width: calc(100%/3);
    }

    .quarter {
        width: calc(100%/4);
    }

    .fifth {
        width: calc(100%/5);
    }
}

@media screen and (max-width: 1199px) {

    section {
        margin: 1rem;
    }
}
